<h1>Students#edit</h1>
<p>Find me in app/views/students/edit.html.erb</p>


<%= form_for(@student) do |f| %>
   <label>Schoolclass first_name:</label><br>
   <%= f.text_field :first_name %><br>

   <label>Schoolclass Last name</label><br>
   <%= f.text_area :last_name %><br>

<%= f.submit %>
<% end %>